*{
  margin: 0px; 
  box-sizing: border-box; 
  font-family: 'Julius Sans One', sans-serif;
}


:root{
  --primary-color: green;
  --box-shadow: 0px 0px 5px 0 #a9a9a9;
  --box-shadow-hover: 5px 5px 5px darkgrey;
}

a
input,
textarea,
button,
select {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-overflow: ellipsis;
}

a{
  text-decoration: none; 
  color: black; 
}


a, button:focus{
  outline: none; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.communities-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communities-list-item{
  max-width: 750px;
  width: 100%;
  margin: 0 auto; 
}

.communities-list-item.view-subcommunities .communities-list-item-link{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow-hover);
}

.communities-list-item.view-subcommunities>.communities-list-item-subcommunities-list{
  display: block;
  padding: 0px;
  margin-left: 50px;
}

.communities-list-item.view-subcommunities .communities-list-item-button{
  transform: rotate(90deg);
  color: var(--primary-color);
  transition: 0.25s;
}

.communities-list-item-button{
  border: 0px;
  background-color: white;
  font-size: 24px;
  margin-right: 25px;
  padding: 0px;
  transition: .25s;
}

.communities-list-item-button:hover{
  cursor: pointer; 
  color: var(--primary-color)
}

.communities-list-item-community-wrapper{
  display: flex;
  margin: 10px auto;
}

.communities-list-item-link-wrapper{
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.communities-list-item-link{
  padding: 0px 10px;
  display: block;
}

.communities-list-item-link-wrapper:hover{
  box-shadow: var(--box-shadow-hover);
  border: 1px solid var(--primary-color);
}

.communities-list-item-link-wrapper:hover>a{
  color: var(--primary-color);
}

.communities-list-item-subcommunities-list{
  max-height: 300px;
  margin: 10px auto;
  overflow: auto;
  display: none; 
}

.communities-list-item-subcommunities-list h2{
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 5px;
}

.communities-list-item-subcommunities-list-item{
  padding: 5px;
  margin: 5px;
  height: 35px;
  line-height: 30px;
  list-style: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.communities-list-item-subcommunities-list-item:hover{  
  cursor: pointer;
  box-shadow: var(--box-shadow-hover)
}

.communities-list-item-subcommunities-list-item:hover>a{
  color: var(--primary-color)
}

.communities-list-item-subcommunities-list-item-link{
  width: 100%;
  display: block;
}

.display-none{
  display: none; 
}

form{
  max-width: 600px;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
}

form .button-delete{
  background-color: white;
  color: red;
  text-shadow: 0px 0px 0px red;
}

form .button-section{
  display: flex; 
  justify-content: space-between;
  margin-top: 25px;
}

form .button-section>button{
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: 100px;
  margin: 20px 20px;
  height: 35px;
}

form .button-section>button:hover{
  cursor: pointer; 
  box-shadow: var(--box-shadow-hover)
}

form .button-section>.button-save{
  margin-left: auto; 
  background-color: var(--primary-color); 
  color: white; 
  box-shadow: var(--box-shadow);
  text-shadow: 0px 0px 0px white; 
}

form fieldset{
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  padding: 20px 5px;
}

fieldset>h1, fieldset>h2, fieldset>h3{
  color: black; 
  text-shadow: 0px 0px 0px black; 
}

form .input-wrapper{
  display: flex; 
}

form .input-wrapper>label{
  color: black; 
}

form .inputs-section{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
}

form .inputs-section.student-subcommunities-form{
  align-items: center;
  margin: 10px 0px 0px -50px;
}

form input, textarea, select{
  font-size: 16px;
  width: 200px;
  box-shadow: var(--box-shadow);
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  text-overflow: ellipsis;
}

form input:focus, textarea:focus, select:focus {
  box-shadow: var(--box-shadow-hover);
}

form .input-radio{
  width: initial;
  margin: 0px 5px;
  box-shadow: none;
}

form .input-radio:focus{
  box-shadow: none; 
}

form .input-radio:hover{
  cursor: pointer; 
}

form .invalid-input-warning{
  color: red;
  font-size: 32px;
}

form label{
  text-align: right;
  font-weight: 900;
  text-shadow: 0px 0px 0px green;
  color: green;
  font-size: 16px;
}

form .label-textarea{
  align-self: start;
}

form legend{
  position: sticky;
  background-color: white;
  top: 90px;
  color: green;
  margin: 0 auto;
  text-shadow: 1px 1px 1px green;
}

form select:focus{
  outline: none; 
}

form select:hover{
  cursor: pointer; 
}

form .shimmer-button{
  margin-left: auto;
  background-color: white; 
}

form .shimmer-input-wrapper{
  width: 175px; 
}

form .shimmer-label{
  width: 120px;
  margin-top: 0px;
}

form .shimmer-legend{
  width: 250px;
  position: relative;
  top: -25px;
  margin: 0px auto;
}

form .student-form-subcommunities-community{
  margin-top: 20px;
  margin-bottom: 5px;
  color: green;
  text-shadow: 0px 0px 0px green;
}

form .student-form-subcommunities-input{
  width: 25px;
  box-shadow: none;
}

form .student-form-subcommunities-input:focus{
  box-shadow: none; 
}

form .student-form-subcommunities-input:hover{
  cursor: pointer; 
}

form .student-form-subcommunities-section{
  display: grid;
  grid-template-columns: 0fr 1fr 0fr 1fr;
  align-items: center;
  grid-row-gap: 10px;
}


form .student-form-subcommunities-label{
  text-align: left; 
  color: black; 
}

form textarea{
  height: 100px; 
}

h1, h2, h3{
  text-shadow: 1px 1px 1px green;
  color: Green; 
}

header{
  text-align: center;
  position: sticky;
  top: 60px;
  margin-top: 20px;
  background-color: white;
}

.home-page-header{
  text-align: center;
  margin-top: 20px;
}

.home-page-main{
  max-width: 750px;
  margin: 10px auto;
  font-size: 18px;
  padding: 20px;
}

.home-page-main>p{
  margin-top: 10px; 
}

.home-page-link{
  color: green;
  text-decoration: underline;
}

.home-page-list{
  margin-left: 100px;
  padding: 10px;
}

.home-page-main{
  margin-top: 25px; 
  font-size: 18px; 
}

.list-main-item{
  display: flex;
  height: 60px;
  line-height: 60px;
  max-width: 750px;
  margin: 10px auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
}

.list-main-item div{
  margin: 0px 20px; 
}

.list-main-item a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.list-main-item:hover{
  box-shadow: var(--box-shadow-hover);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.list-main-item:hover>a{
  color: var(--primary-color)
}

.list-main-wrapper{
  padding: 0px;
  margin: 20px 10px;
  list-style: none;
  min-width: 350px;
}

.list-main-wrapper li{
  font-size: 21px; 
}

.modal-content{
  background-color: white;
  margin: 75px auto;
  max-width: 500px;
  width: 75%;
  height: auto;
  min-height: 200px;
  padding: 10px;
  font-size: 18px;
}

.modal-content-close-button{
  font-weight: bold;
  float: right;
  border: none;
  background-color: white;
  font-size: 21px;
  color: red;
  margin-top: -10px;
  margin-right: -10px;
}

.modal-content-close-button:hover{
  cursor: pointer; 
}

.modal-content>p{
  text-align: center;
  margin-top: 50px;
}

.modal-section{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

nav{
  height: 50px;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: 5px 5px 5px black;
}

nav .active{
  text-decoration: underline;
  color: green;
}

.nav-display-menu .nav-hamburger.top{
  transform: translateY(5px) rotate(-45deg);
  transition: .4s;
}

.nav-display-menu .nav-hamburger.middle{
  transform: translateY(-5px) rotate(45deg);
  transition: .4s;
}

.nav-display-menu .nav-hamburger.bottom{
  display: none;
}

.nav-display-menu .nav-links-wrapper{
  position: fixed;
  background-color: black; 
  z-index: 1;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
}

.nav-display-menu .nav-links-wrapper>a{
  display: block;
  margin: 25px;
}

.nav-display-menu .nav-new-button{
  display: none; 
}

.nav-hamburger{
  background-color: white; 
  height: 5px;
  width: 45px;
  margin-top: 5px;
}

.nav-hamburger-button{
  background-color: transparent;
  border: none; 
}

.nav-hamburger-button:hover{
  cursor: pointer; 
}

.nav-links-wrapper{
  margin: 0px 10px 0px auto;
}

.nav-links-wrapper>a{
  display: none; 
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.nav-new-button{
  text-align: center;
  background-color: green;
  color: white;
  text-shadow: 0px 0px 0px white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0px 20px 0px auto;
  outline: none;
  border: none;
}

.nav-new-button-modal-content-wrapper{
  
}

.nav-new-button-modal-content-link{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-shadow: 0px 0px 0px black;
}

.nav-new-button-modal-content-link:hover{
  color: green; 
  text-shadow: 0px 0px 0px green; 
}

.nav-new-button-modal-content-link.indent{
  margin-left: 25px; 
}

.nav-wide-screen-wrapper{
  display: none; 
}

.nav-wrapper{
  height: 50px;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.nav-wrapper a{
  display: block;
  font-size: 21px;
}

.nav-wrapper .new-button:hover{
  cursor: pointer; 
}

.negative-amount{
  color: red;
  text-shadow: 0px 0px 0px red;
}

.shimmer-animate {
  animation : shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer-graph{
  margin: 0 auto;
  width: 95vw;
  height: 200px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.shimmer-line {
  position: relative;
  top: 20px;
  height: 15px;
  border-radius: 5px;
}

.shimmer-wrapper {
  animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.student-challenge-entries-button{
  font-size: 18px;
  padding: 5px;
  color: green;
  text-shadow: 0px 0px 0px green;
  border-radius: 5px;
  background-color:white;
  margin: 5px; 
}

.student-challenge-entries-button:hover{
  cursor: pointer;
  text-shadow: 0px 0px 0px white;
  background-color: green;
  color: white;
}

.student-challenge-entries-button.button-focused{
  text-shadow: 0px 0px 0px white;
  background-color: green;
  color: white;
}

.student-challenge-entries-graph{
  position: relative;
  width: 95vw;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.student-challenge-entries-no-records{
  font-size: 32px;
  text-align: center;
  margin-top: 25px;
  text-shadow: 0px 0px 1px black;
}

.student-exchange-list-balance{
  color: black; 
  text-shadow: 0px 0px 0px black; 
}

.students-list-main-item{
  max-width: 750px;
  height: 60px;
  margin: 10px auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 33% 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0px 5px;
}

.students-list-main-item:hover{
  color: green;
  border: 1px solid green;
  box-shadow: var(--box-shadow-hover);
}

.students-list-item-links-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.students-list-item-link{
  margin-top: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.students-list-item-link-exchanges{
  margin-top: 20px; 
}

.students-list-item-link-icon{
  display: block;
  height: 40px;
  margin: auto;
}

.students-list-item-link-tooltip{
  display: none;
  font-size: 18px;
}

.students-list-item-link-transactions{
  margin-top: 20px;
  text-align: center;
}

.students-list-item-name{
  font-size: 18px;
}

.students-list-item-name>p{
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
}

.student-name-shimmer{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.visibility-hidden{
  visibility: hidden; 
}

@media only screen and (min-width: 600px) {
  form input, textarea, select{
    width: 300px;
  }

  form .invalid-input-warning{
    width: auto; 
  }

  .nav-hamburger-button{
    display: none; 
  }

  .nav-new-button{
    margin-left: 50px;
  }

  .nav-links-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto; 
  }

  .nav-links-wrapper>a{
    display: block; 
    margin: 0px 10px; 
  }

  .nav-new-button:hover{
    cursor: pointer; 
  }
  
  .nav-wide-screen-wrapper>button:hover{
    cursor: pointer; 
    color: var(--primary-color)
  }

  .shimmer-graph{
    width: 65%;
    height: 400px;
  }

  .student-challenge-entries-graph{
    width: 65vw;
  }

  .students-list-item-link:hover .students-list-item-link-tooltip{
    visibility: initial; 
  }

  .students-list-item-link-tooltip {
    display: block;
    visibility: hidden;
    background-color: green;
    color: white;
    line-height: 20px;
    margin-top: 5px;
    padding: 2px 4px;
    border-radius: 5px;
  }
}
