.visibility-hidden{
  visibility: hidden; 
}

.display-none{
  display: none; 
}

*{
  margin: 0px; 
  box-sizing: border-box; 
}

:root{
  --primary-color: green;
  --box-shadow: 2px 2px 2px grey;
  --box-shadow-hover: 4px 4px 4px grey;
}

a{
  text-decoration: none; 
  color: black; 
}

button:focus{
  outline: none; 
}

.communities-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communities-list-item{
  max-width: 750px;
  width: 100%;
  margin: 0 auto; 
}

.communities-list-item.view-subcommunities>.communities-list-item-subcommunities-list{
  display: block;
  padding: 0px;
  margin-left: 50px;
}

.communities-list-item-button{
  border: 0px; 
  background-color: white; 
  font-size: 24px;
}

.communities-list-item-button:hover{
  cursor: pointer; 
}

.communities-list-item-community-wrapper{
  display: flex;
  margin: 10px auto;
}

.communities-list-item-link-wrapper{
  height: 60px;
  line-height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.communities-list-item-link{
  padding: 0px 10px;
  display: block;
}

.communities-list-item-link:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px black; 
}

.communities-list-item-subcommunities-list{
  border: 1px solid black;
  max-height: 300px;
  margin: 10px auto;
  overflow: auto;
  display: none; 
}

.communities-list-item-subcommunities-list h2{
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 5px;
}

.communities-list-item-subcommunities-list-item{
  padding: 5px;
  margin: 5px;
  height: 35px;
  line-height: 30px;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
}

.communities-list-item-subcommunities-list-item:hover{  
  cursor: pointer;
  box-shadow: 2px 2px 2px black; 
}

.communities-list-item-subcommunities-list-item-link{
  width: 100%;
  display: block;
}

form{
  max-width: 600px;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
}

form input, label{
  font-size: 18px; 
}

form .button-section{
  display: flex; 
  justify-content: space-between;
  margin-top: 25px;
}

form button{
  background-color: lightgray; 
  font-size: 18px; 
}

form .button-save{
  margin-left: auto; 
}

form button:hover{
  cursor: pointer;
}

form label{
  text-align: right;
}

/* form .input-wrapper{
  display: flex; 
} */

form .inputs-section{
  display: grid;
  grid-template-columns: 100px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

form .inputs-section.student-subcommunities-form{
  align-items: center;
  margin-left: -75px;
}

form .invalid-input-message{
  color: red; 
}

form input, textarea, select{
  border: 1px solid black;
  width: 225px;
  font-size: 18px;
}

form .input-radio{
  width: initial;
  margin: 0px 5px;
}

form .input-radio:hover{
  cursor: pointer; 
}

form .save-button{
  margin-left: auto; 
}

form select:hover{
  cursor: pointer; 
}

form .student-form-subcommunities-community{
  margin-top: 20px; 
}

form .student-form-subcommunities-input{
  width: 200px;
}

form .student-form-subcommunities-label{
  text-align: left; 
}

/* form .student-form-communities-section{
  margin-top: 10px; 
}

form .student-form-communities-subcommunity-section{
  padding: 5px; 
}

form .student-form-communities-subcommunity-section-input{
  width: auto; 
}

form .student-form-communities-subcommunity-section-label{
  width: auto; 
} */

header{
  text-align: center;
  position: sticky;
  top: 50px;
  background-color: white;
}

.home-page-header{
  text-align: center; 
}

.home-page-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-list{
  margin-left: 100px;
  padding: 0px;
}

.home-page-main{
  margin-top: 25px; 
  font-size: 18px; 
}

.list-main-wrapper{
  padding: 0px;
  margin: 50px 10px;
  list-style: none;
  min-width: 350px;
}

.list-main-item{
  display: flex;
  height: 60px;
  line-height: 60px;
  max-width: 750px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
}

.list-main-item a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.list-main-item:hover{
  box-shadow: 2px 2px 2px black; 
  cursor: pointer; 
  color: gray; 
}

.list-main-item div{
  margin: 0px 20px; 
}

.modal-section{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal-content{
  background-color: white;
  margin: 50px auto;
  max-width: 500px;
  width: 75%;
  height: auto;
  min-height: 200px;
}

.modal-content-close-button{
  float: right; 
}

.nav-display-menu .nav-hamburger.top{
  transform: translateY(5px) rotate(-45deg);
  transition: .4s;
}

.nav-display-menu .nav-hamburger.middle{
  transform: translateY(-5px) rotate(45deg);
  transition: .4s;
}

.nav-display-menu .nav-hamburger.bottom{
  display: none;
}

.nav-display-menu .nav-links-wrapper{
  position: fixed;
  background-color: lightgray;
  z-index: 1;
  top: 40px;
  left: 0;
  height: 100%;
  width: 100%;
}

.nav-display-menu .nav-links-wrapper>a{
  display: block;
  margin: 25px;
}

.nav-display-menu .nav-new-button{
  display: none; 
}

.nav-new-button{
  background-color: white;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0px 0px 0px auto;
}

.nav-links-wrapper>a{
  display: block;
  font-size: 21px;
  margin: 0px 10px;
}

.nav-new-button-modal-content-wrapper{
  
}

.nav-new-button-modal-content-link{
  display: block; 
  padding: 5px; 
}

.nav-new-button-modal-content-link.indent{
  margin-left: 25px; 
}

nav{
  height: 40px;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.nav-hamburger{
  width: 45px;
  height: 5px;
  background-color: black;
  margin-top: 5px;
}

.nav-hamburger-button{
  background-color: transparent;
}
.nav-hamburger{
  background-color: black;
  height: 5px;
  width: 45px;
  margin-top: 5px;
}

.nav-hamburger-button:hover{
  cursor: pointer; 
}

.nav-links-wrapper{
  margin: 0px 10px 0px auto;
}

.nav-links-wrapper>a{
  display: none; 
}

nav .active{
  color: white; 
}

.nav-wide-screen-wrapper{
  display: none; 
}

.nav-wrapper{
  height: 50px;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.nav-wrapper a{
  display: block;
  font-size: 21px;
}

.negative-amount{
  color: red; 
}

.nav-wrapper .new-button:hover{
  cursor: pointer; 
}

.student-challenge-entries-button{
  font-size: 18px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: var(--box-shadow);
  background-color: white;
  color: var(--primary-color);
}

.student-challenge-entries-button:hover{
  cursor: pointer; 
  box-shadow: var(--box-shadow-hover)
}

.student-challenge-entries-button.button-focused{
  box-shadow: none;
  background-color: lightgrey;
  border: 1px solid black;
}

.student-challenge-entries-graph{
  position: relative;
  width: 75vw;
  margin: 0 auto;
}

.students-list-main-item{
  max-width: 750px;
  height: 60px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 33% 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 0px 5px;
}

.students-list-item-links-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.students-list-item-link{
  margin-top: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.students-list-item-link-exchanges{
  margin-top: 20px; 
}

.students-list-item-link-icon{
  display: block;
  height: 40px;
  margin: auto;
}

.students-list-item-link-tooltip{
  display: none
}

.students-list-item-link-transactions{
  margin-top: 20px;
  text-align: center;
}

.students-list-item-name{
  font-size: 18px;
}
.students-list-item-name>p{
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .nav-hamburger-button{
    display: none; 
  }

  .nav-new-button{
    margin-left: 50px;
  }

  .nav-new-button:hover{
    cursor: pointer; 
  }

  .nav-links-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto; 
  }

  .nav-links-wrapper>a{
    display: block; 
    font-size: 21px; 
    margin: 0px 10px; 
  }
  
  .nav-wide-screen-wrapper>button:hover{
    cursor: pointer; 
    color: var(--primary-color)
  }

  .students-list-item-link:hover .students-list-item-link-tooltip{
    visibility: initial; 
  }

  .students-list-item-link-tooltip {
    display: block; 
    visibility: hidden;
    background-color: green;
    color: white;
    line-height: 20px;
    margin-top: 5px;
    padding: 0px 5px;
    border-radius: 5px;
  }
}

